@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
    --color-blanco: #EBF0F3;
    --color-negro: #101C22;
    --color-azul: #A4D7FD;
    --color-azulOscuro: #328CD4;
    /* --color-grisOscuro: #4a6377fd; */
}

body {
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
    font-family: "Space Grotesk", sans-serif;
    background-color: var(--color-negro);
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
}


/*
============
# Cabecera #
============
*/

header {
    display: grid;
    /* height: 5rem; */
    grid-template-columns: 1fr .5fr 1fr;
    gap: 1rem;
    border-color: var(--color-blanco);
    padding: .5rem;
    margin-bottom: 1rem;
    border-bottom: .5px solid var(--color-azul);
    box-shadow: 0 0 5px var(--color-azulOscuro) 0 0 25px var(--color-azul);
}


/* logo */
.logo {
    display: flex;
    align-items: center;
    margin: auto;
}

.logo img {
    height: 95px;
    margin-bottom: 10px;

}

.logo span {
    color: var(--color-blanco);
    font-size: 30px;
    font-weight: 700;
}

#icoSettings {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: .75rem;
}

#icoSettings img:hover {
    transform: scale(1.2);
    transition: transform .2s;

}

#icoSettings img {
    height: 50px;
    cursor: pointer;
    margin: auto;
}


/*
============
# Modal settings #
============
*/


#modalSettings {
    position: fixed;
    inset: 0;
    z-index: 1000;
    display: none;
    place-items: center;
}

#modalSettings.modalAbierto {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalBackdrop {
    position: absolute;
    inset: 0;
    z-index: 999;
    background: rgba(0, 0, 0, .35);
    backdrop-filter: blur(6px);
}

.settings {
    position: relative;
    width: 750px;
    z-index: 1000;
    overflow: auto;
    box-sizing: border-box;
    background-color: var(--color-negro);
    border: 2px solid var(--color-azul);
    border-radius: 20px;
    color: var(--color-white);
}

.settings>form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}


#btnClose {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

#btnClose>img {
    height: 25px;
    width: 25px;
}

.dificultadOpciones {
    margin: .5rem
}

.dificultadOpciones>h1 {
    text-align: center;
}

.inputDificultad {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.inputDificultad input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.inputDificultad span {
    display: inline-flex;
    align-items: center;
    padding: .5rem 1rem;
    cursor: pointer;
    user-select: none;
    font-weight: 400;
    font-size: 18px;
}

.inputDificultad>label>input:checked+span {
    padding: .5rem 1rem;
    background-color: var(--color-azulOscuro);
    border: 1px solid var(--color-azul);
    border-radius: 20px;
    color: var(--color-blanco);
}

.inputTiempo {
    display: flex;
    justify-content: center;
    align-items: center;

}

.inputTiempo input[type="number"] {
    width: 5rem;
    height: 2.5rem;
    text-align: center;
    border: 2.5px solid var(--color-azul);
    border-radius: 20px;

}

.inputTiempo input[type="number"]:focus {
    outline: none;

}

.btnAceptar {
    margin: 2rem 1rem 1rem 1rem;
    padding: .5rem 1rem;
    background-color: var(--color-azulOscuro);
    border: 1px solid var(--color-azul);
    border-radius: 10px;
    color: var(--color-blanco);
}

.btnCancelar {
    margin: 2rem 1rem 1rem 1rem;
    padding: .5rem 1rem;
    background-color: red;
    border: 1px solid var(--color-azul);
    border-radius: 10px;
    color: var(--color-blanco);
}

/*
============
# Main #
============
*/
main {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    flex: 1;
}


/* --------------------------- */
/* Section inicio Juego */
/* --------------------------- */

#btnStart {
    background-color: var(--color-azulOscuro);
    border: 1px solid var(--color-azul);
    border-radius: 30px;
    width: 200px;
    height: 75px;
    margin: auto;
    margin-top: 5rem;
    color: var(--color-blanco);
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    transform: scale(1);
    transition: transform .2s;
}

#btnStart:hover {
    transform: scale(1.1);
    transition: transform .2s;
}

.titulo h1 {
    color: var(--color-azulOscuro);
}

.titulo p {
    color: var(--color-blanco);
}

/* --------------------------- */
/* Section Juego */
/* --------------------------- */
#barraTiempo {
    height: 10px;
    width: 80%;
    margin: auto;
    background-color: var(--color-blanco);
    border: 2px solid var(--color-azulOscuro);
    border-radius: 20px
}

#rellenoTiempo {
    height: 10px;
    background: var(--color-azul);
    width: 0%;
    border-radius: 20px
}

.comenzarTiempo {
    animation-name: completarBarraTiempo;
    animation-duration: var(--tiempo);
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

#contenedorFrase input {
    opacity: 0%;

}

#juego button {
    background-color: var(--color-azulOscuro);
    border: 1px solid var(--color-azul);
    border-radius: 30px;
    width: 200px;
    height: 75px;
    margin: auto;
    color: var(--color-blanco);
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1);
    transition: transform .2s;
}

#juego button:hover {
    background-color: red;
    transform: scale(1.1);
    transition: transform .2s;
}

.deshabilitado {
    display: none;
}

#contenedorFrase p {
    font-size: 50px;
}

.ok {
    color: #16a34a;
}

.fail {
    color: #dc2626;
}

.cursor {
    color: grey;
    text-decoration: underline;
}

/* --------------------------- */
/* Section score */
/* --------------------------- */

.scoreResultados {
    margin: auto;
    width: 450px;
    border: 5px solid var(--color-azulOscuro);
    border-radius: 30px;
}

.scoreResultados p {
    margin: 2.5rem;
}


#btnReiniciar {
    height: 70px;
    margin-top: 4rem;
    cursor: pointer;
}

#btnReiniciar:hover {
    animation: spin .4s reverse;

}

/* --------------------------- */
/* Footer */
/* --------------------------- */
footer {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    border-top: 1px solid var(--color-azul);
}

footer p {
    margin: 12px;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.icons a {
    align-items: center;
    height: 25px;
    width: 25px;
    margin-bottom: 12px;

}

.icons a:hover {
    transform: scale(1.2);
    transition: transform .2s;
}

.icon {
    width: 100%;
    height: 100%;
    display: block;
}

.icon path {
    color: var(--color-azul);
}


/* --------------------------- */
/* Animaciones */
/* --------------------------- */

@keyframes completarBarraTiempo {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}


@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}

@keyframes saltito {
    0% {
        transform: translateY(0) scale(1);
    }

    50% {
        transform: translateY(-6px) scale(1.02);
    }

    100% {
        transform: translateY(0) scale(1);
    }
}